@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Red+Rose:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-dimBlack font-redRose text-5xl leading-[4rem];
  }
}

@layer components {
  #imgStyle {
    @apply w-[100px] md:w-[200px];
  }

  span {
    @apply text-spanColor font-medium;
  }

  .imgContStyle {
    @apply border shadow-lg rounded-xl p-4;
  }

  .gridContainer {
    @apply grid grid-cols-2 md:grid-cols-4 gap-6 mt-8 p-4 md:p-2;
  }
  .contentStyle01 {
    @apply flex md:flex-row flex-col space-x-0 md:space-x-6 font-redRose text-sm mt-5 text-dimBlack space-y-2 md:space-y-0 mb-2 items-start md:items-center justify-start md:justify-between;
  }

  .contentStyle02 {
    @apply flex flex-col md:flex-row  items-start md:items-center justify-start md:justify-between  space-y-2 md:space-y-0 font-redRose text-sm md:text-xs mb-6 text-dimBlack;
  }

  .h2Style {
    @apply text-center font-redRose font-semibold text-2xl md:text-4xl mb-5 leading-10 p-2 md:p-0;
  }

  .partnerStyle {
    @apply flex flex-row justify-between bg-gradMajor mt-10 px-10 md:px-16 py-2 w-full;
  }
}

.nav_open {
  background: none;
  font-size: 1rem;
  color: #a02279;
  display: none;
}

.modal,
.over {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.over {
  background: rgba(64, 64, 64, 0.3);
}

.connect {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 30rem;
  /* transform: translateX(-100vw); */
  transform: translate(-50%, -50%);
  transition: 2s;
  border: none;
  padding: 1rem 0;
  background: #ffffff;
  border-radius: 16px;
  z-index: 100;
}

.navContainer {
  position: fixed;
  width: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  top: -10px;
  left: 10px;
}

.bg-gradMajor {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}

.bg-gradientLogo {
  background: linear-gradient
    (91.47deg, #dc3e88 18.25%, #b840ae 43.34%, #843fe8 78.18%);
}

.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}

.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}
