@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Red+Rose:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-dimBlack font-redRose text-5xl leading-[4rem];
  }
}

@layer components {
  #imgStyle {
    @apply w-[100px] md:w-[200px];
  }

  span {
    @apply text-spanColor font-medium;
  }

  .imgContStyle {
    @apply border shadow-lg rounded-xl p-4;
  }

  .gridContainer {
    @apply grid grid-cols-2 md:grid-cols-4 gap-6 mt-8 p-4 md:p-2;
  }
  .contentStyle01 {
    @apply flex md:flex-row flex-col space-x-0 md:space-x-6 font-redRose text-sm mt-5 text-dimBlack space-y-2 md:space-y-0 mb-2 items-start md:items-center justify-start md:justify-between;
  }

  .contentStyle02 {
    @apply flex flex-col md:flex-row  items-start md:items-center justify-start md:justify-between  space-y-2 md:space-y-0 font-redRose text-sm md:text-xs mb-6 text-dimBlack;
  }

  .h2Style {
    @apply text-center font-redRose font-semibold text-2xl md:text-4xl mb-5 leading-10 p-2 md:p-0;
  }
}

.bg-gradMajor {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}

.bg-gradientLogo {
  background: linear-gradient
    (91.47deg, #dc3e88 18.25%, #b840ae 43.34%, #843fe8 78.18%);
}
